In [4]:
# import dependencies
import pandas as pd
import random
import statistics
import numpy
import requests
import time
from openpyxl.workbook import Workbook
from openpyxl import load_workbook
import matplotlib.pyplot as plt

# import api key
key = 'P7xEmqFaamAMUwpkAMYQ3QZRDsA7H3Pz'

In [5]:
# the stocks to look at
my_symbols = ['TSLA', 'AAPL']

#local_time = time.localtime()
#date = time.strftime("%Y-%m-%d", local_time)

# the date we will be looking at
date = '2022-04-13'

In [6]:
# base url from polygon.io
base_url = 'https://api.polygon.io/v1/open-close/'

# creating a list of urls with api keys
url_list = []

# looping through the symbols to get the urls
for symbol in my_symbols:
    url_list.append(f'{base_url}{symbol}/{date}/?adjusted=false&apiKey={key}')

In [7]:
# creating a list for my results
res = []

# looping through the urls and requesting api data to put into results
for url in url_list:
    res.append(requests.get(url).json())

In [ ]:
# lists that will create the df
stock_close = []
stock_open = []
percent_change = []
stock_symbol = []

In [ ]:
# getting the close price, open price, and symbol
for stock_info in res:
    for key, value in stock_info.items():
        if key == 'close':
            stock_close.append(value)
        if key == 'open':
            stock_open.append(value)
        if key == 'symbol':
            stock_symbol.append(value)

# finding the percent change of the stock over the day
i = 0
length = len(stock_close)

while i < length:
    day_dif = stock_close[i] - stock_open[i]
    percent_change.append(day_dif / stock_close[i] * 100)
    
    i+=1

In [ ]:
# create a dict
stock_dict = {
    'date': date,
    'open': stock_open,
    'close': stock_close,
    'percent change': percent_change
}

# create a dataframe with all of this info
my_stocks_df = pd.DataFrame(stock_dict, index = stock_symbol)
my_stocks_df

            date    open   close  percent change
TSLA  2022-04-12  997.64  986.95       -1.083135
AAPL  2022-04-12  168.02  167.66       -0.214720

In [ ]:
## ONLY NEEDED 1 TIME

# creating my excel sheet
headers = ['Symbol', 'Date', 'Open Price', 'Close Price', 'Percentage Change']
workbook_name = 'testing.xlsx'
wb = Workbook()
page = wb.active
page.title = 'my_stocks'
page.append(headers)

# saving the excel sheet
wb.save(filename=workbook_name)

In [ ]:
# use a while loop to loop through all of the data and save it into the excel file

i = 0

while i < len(stock_symbol):
    daily_stock = []
    daily_stock.append(stock_symbol[i])
    daily_stock.append(date)
    daily_stock.append(stock_open[i])
    daily_stock.append(stock_close[i])
    daily_stock.append(percent_change[i])

    # append the excel file and add the data onto it
    workbook_name = 'testing.xlsx'
    wb = load_workbook(workbook_name)
    page = wb.active

    # new data to write
    new_daily_stock = [daily_stock]

    for info in new_daily_stock:
        page.append(info)
    
    # save the excel file
    wb.save(filename=workbook_name)

    i += 1

In [ ]:
file_to_load = pd.read_csv('testing.csv')
df = pd.DataFrame(file_to_load)
df

  Symbol        Date  Open Price  Close Price  Percentage Change
0   AAPL  2022-04-13     167.390       170.40           1.766432
1   TSLA  2022-04-13     981.075      1022.37           4.039144
2     FB  2022-04-13     211.820       214.99           1.474487
3   MSFT  2022-04-13     282.730       287.62           1.700160
4   NVDA  2022-04-13     217.280       222.03           2.139351
5   TSLA  2022-04-12     997.640       986.95          -1.083135
6   AAPL  2022-04-12     168.020       167.66          -0.214720

In [ ]:
for idx, row in df.iterrows():
    if my_symbols[0] in row['Symbol'] and row['Date'] == date:
        print('it is there')

it is there

In [ ]:
for i in my_symbols:
    i
i

'AAPL'

In [ ]:
rslt_df = pd.DataFrame()
for i in my_symbols:
    if [df.loc[df['Symbol'] == i]] and [df.loc[df['Date']==date]]:
        print(rslt_df)
    print('------------------------------------------------------------------')

Empty DataFrame
Columns: []
Index: []
------------------------------------------------------------------
Empty DataFrame
Columns: []
Index: []
------------------------------------------------------------------

In [ ]:
my_symbols

['TSLA', 'AAPL']

In [ ]:
df

  Symbol        Date  Open Price  Close Price  Percentage Change
0   AAPL  2022-04-13     167.390       170.40           1.766432
1   TSLA  2022-04-13     981.075      1022.37           4.039144
2     FB  2022-04-13     211.820       214.99           1.474487
3   MSFT  2022-04-13     282.730       287.62           1.700160
4   NVDA  2022-04-13     217.280       222.03           2.139351

In [11]:
res[0]

{'status': 'OK',
 'from': '2022-04-13',
 'symbol': 'TSLA',
 'open': 981.075,
 'high': 1026.24,
 'low': 973.097,
 'close': 1022.37,
 'volume': 18368304,
 'afterHours': 1023,
 'preMarket': 999.68}